<!--definiamo il template contatti.html di un sito web personale-->
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Il mio sito personale</title>
    <link rel="stylesheet" href="/static/css/stile.css">
</head>
<body>
    <header>
        <h1>Benvenuto nel mio sito personale 2</h1>
        <nav>
            <ul>
                <li><a href="https://profgiagnotti.it/docker/" target="_blank">Docker</a></li>
                <li><a href="https://profgiagnotti.it/docker-hub-pull-di-immagini-ufficiali-e-creazione-di-container/" target="_blank">Docker Hub</a></li>
                <li><a href="/" target="_blank">Home</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>         
            <p>E-mail: ing.giagnotti@gmail.com</p>
        </section>
    </main>

    <footer>
        <p>© 2025 Mario Giagnotti. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>